{{ define "main" }}



<amp-img class="" src="/venue-hero-wide.jpg" width="3417" height="1418" alt="{{ .Title }} Image" layout="responsive">
</amp-img><br><br>
<a href="/" class="h5 ml2 nolink">Home</a> &gt; <span class="h5">Venue</span>
<br>
<div class="col-12 flex flex-wrap pb3">
	<div class="col-12 md-col-6 px2 md-pl7 commerce-product-desc">
<h1 class="h2 col-12 mx4 pb3 pt3">Venue Details</h1>
<p class="col-12 mx3 mx4 pb1 pt1 ">Enjoy the Rustic Elegance of Sylvan Cellars</p>

<ul class="h6 mx4">
	<li>Seats up to 300 family and friends</li><br>
	<li>Tables and chairs provided</li><br>
	<li>Venue has a 3-way liquor license (bartenders available)</li><br>
	<li>Can choose a caterer or do your own food</li><br>
	<li>Fully wired sound system and HD projector screen</li><br>
	<li>Onsite bathrooms and kitchen</li>
</ul>

<h2 class="h4 col-12 mx4 pb3 pt3">Book an event today!</h2>
<p class="h4 col-12 mx4 pt3 pb1">
<a href="/schedule-event" class="ampstart-btn mb2 caps inline-block pb1 pt1 ">Schedule Event</a>
<a href="/event" class="ampstart-btn mb2 caps inline-block pb1 pt1 ">View All Events</a>
<a href="tel:2608549463" class="ampstart-btn mb2 caps inline-block pb1 pt1 ">260-854-9463</a>
<a href="/contact" class="ampstart-btn caps inline-block mb2 pt1 pb1 ">Submit Message</a></p>
</div>
<div class="col-12 md-col-5 md-pr7 md-pl5">
  <h3 class="h4 mx4 pt3">Venue Gallery</h3>
  <p class="mx4 pt1">Touch / click to view venue gallery</p>

<amp-carousel id="carousel-with-lightbox"
                      width="750"
                      height="500"
                      layout="responsive"
                      type="slides"
                      lightbox>
                      <amp-img src="{{ .Params.pageImage | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage1 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage2 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage3 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage4 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage5 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage6 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage7 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage8 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage9 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage11 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage12 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage13 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage14 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage15 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage16 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage17 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage10 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage18 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage19 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImage20 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                    </amp-carousel>

</div>
</div>
<div class="col-12 flex flex-wrap pb3">
<h3 class="h2 col-12 mx4 pb3 pt3">Craft Tasting Room</h3>
<p class="col-10 mx4 pb1 pt4">The much-anticipated Tasting Room opened at Sylvan Cellars in January 2016 featuring a vast selection of handcrafted cocktails, craft beer, and a wine list from all over the globe. Wine, beer, and cocktail enthusiasts alike can choose from 18 craft beers on tap, select craft beer bottles, a wide selection of craft cocktails, and a worldly collection of wines. Don’t forget about domestic beer and well drinks, we simply provide something for all different palates. Specialty cocktails are available like our lovely, local Lavender Lane cocktail, as well as our own twist to the worldwide Moscow Mule, and so much more!
</p>
<p class="col-12 mx3 mx4 pb1 pt1 ">
Keep up to date on our schedule of Live Entertainment throughout the year! Come on out and enjoy a drink you can’t get anywhere else in an atmosphere you will never forget.</p>
<p class="col-12 mx3 mx4 pb1 pt1 ">Tasting room hours are Monday through Thursday 2-9 p.m., Friday 2 to midnight, Saturday noon to midnight, and Sunday 11am to 4 p.m.
</p>
<p class="col-12 mx3 mx4 pb1 pt1 ">
For a list of our Beer on Tap & Beer on Deck, please check us out on <a href="https://untappd.com/v/sylvan-cellars/4162747">Untappd!</a></p>
</div>
 <p class="h4 col-12 mx4 pl4 pb3 pt3">Click / Touch photo below to view gallery</p>
<amp-carousel id="carousel-with-lightbox"
                      width="750"
                      height="500"
                      layout="responsive"
                      type="slides"
                      lightbox>
                      <amp-img src="{{ .Params.pageImageBottom | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImageBottom1 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImageBottom2 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImageBottom3 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImageBottom4 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImageBottom5 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImageBottom6 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImageBottom7 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImageBottom8 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImageBottom9 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImageBottom10 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                      <amp-img src="{{ .Params.pageImageBottom11 | absURL }}"
                        width="750"
                        height="500"
                        layout="responsive"
                        alt="a sample image"></amp-img>
                    </amp-carousel>


</div>



    <h3 class="col-10 mx3 pb1 pt1">Share Page</h3>
<div class="ampstart-social-box col-10 mx4 pb1 pt1">
  <amp-social-share type="twitter" aria-label="Share this on Twitter"></amp-social-share>
  <amp-social-share type="facebook" data-param-text="Sylvan Cellars Events & Tasting Room" data-param-href="{{ .Permalink }}" data-param-app_id="1162765924063888" aria-label="Share this on Facebook"></amp-social-share>
  <amp-social-share type="pinterest" aria-label="Share this on pintrest"></amp-social-share>
</div>
<amp-img class="" src="/footer-venue.jpg" width="3417" height="1418" alt="{{ .Title }} Image" layout="responsive">
</amp-img>


{{ end }}