{{ define "main" }}

	  <main id="content" role="main" class="main commerce-landing">

<section class="commerce-hero-content-wrapper center overflow-hidden">
  <a href="/{{ .Params.link1 }}" class="text-decoration-none block">
      <amp-img class="commerce-hero-image" src="/home-venue-narrow.jpg" width="750" height="437" layout="responsive" media="(max-width: 52.06rem)" alt="Motorcycle Sales Inventory Image in Auburn Indiana" noloading="">
<div placeholder="" class="commerce-loader"></div>      </amp-img>
      <amp-img class="commerce-hero-image" src="/home-venue-wide.jpg" width="3417" height="1418" layout="responsive" media="(min-width: 52.07rem)" alt="Motorcycle Sales Inventory Image in Auburn Indiana" noloading="">
<div placeholder="" class="commerce-loader"></div>      </amp-img>
  <div class="commerce-hero-content commerce-hero-content-theme-primary flex justify-center flex-column md-mx-auto md-p0">
    <div class="commerce-hero-align md-mx-auto">
      <h2 class="commerce-hero-content-title h4 md-h1 caps md-mb2 md-pl4">{{ .Params.title1 }}</h2>
      <p class="commerce-hero-content-body">{{ .Params.subTitle1 }}</p>
        <div class="ampstart-btn ampstart-btn-secondary caps md-ml4">{{ .Params.btnTxt1 }}</div>
    </div>
  </div>
  </a>
</section>
<section class="commerce-hero-content-wrapper center overflow-hidden">
  <a href="/{{ .Params.link2 }}" class="text-decoration-none block">
      <amp-img class="commerce-hero-image" src="/home-event-narrow.jpg" width="750" height="437" layout="responsive" media="(max-width: 52.06rem)" alt="Motorcycle Service Image in Auburn Indiana" noloading="">
<div placeholder="" class="commerce-loader"></div>      </amp-img>
      <amp-img class="commerce-hero-image" src="/home-event-wide.jpg" width="3417" height="1418" layout="responsive" media="(min-width: 52.07rem)" alt="Motorcycle Service Image in Auburn Indiana" noloading="">
<div placeholder="" class="commerce-loader"></div>      </amp-img>
  <div class="commerce-hero-content commerce-hero-content-theme-primary flex justify-center flex-column md-mx-auto md-p0">
    <div class="commerce-hero-align md-mx-auto">
      <h2 class="commerce-hero-content-title h4 md-h1 caps md-mb2 md-pl4">{{ .Params.title2 }}</h2>
      <p class="commerce-hero-content-body">{{ .Params.subTitle2 }}</p>
        <div class="ampstart-btn ampstart-btn-secondary caps md-ml4">{{ .Params.btnTxt2 }}</div>
    </div>
  </div>
  </a>
</section>
<section class="commerce-hero-content-wrapper center overflow-hidden">
  <a href="/{{ .Params.link3 }}" class="text-decoration-none block">
      <amp-img class="commerce-hero-image" src="/home-about-narrow.jpg" width="750" height="437" layout="responsive" media="(max-width: 52.06rem)" alt="Motorcyle Parts Image in Auburn Indiana" noloading="">
<div placeholder="" class="commerce-loader"></div>      </amp-img>
      <amp-img class="commerce-hero-image" src="/home-about-wide.jpg" width="3417" height="1418" layout="responsive" media="(min-width: 52.07rem)" alt="Motorcyle Parts Image in Auburn Indiana" noloading="">
<div placeholder="" class="commerce-loader"></div>      </amp-img>
  <div class="commerce-hero-content commerce-hero-content-theme-primary flex justify-center flex-column md-mx-auto md-p0">
    <div class="commerce-hero-align md-mx-auto">
      <h2 class="commerce-hero-content-title h4 md-h1 caps md-mb2 md-pl4">{{ .Params.title3 }}</h2>
      <p class="commerce-hero-content-body">{{ .Params.subTitle3 }}</p>
        <div class="ampstart-btn ampstart-btn-secondary caps md-ml4">{{ .Params.btnTxt3 }}</div>
    </div>
  </div>
  </a>
</section>
<section class="commerce-hero-content-wrapper center overflow-hidden">
  <a href="/{{ .Params.link4 }}" class="text-decoration-none block">
      <amp-img class="commerce-hero-image" src="/home-contact-narrow.jpg" width="750" height="437" layout="responsive" media="(max-width: 52.06rem)" alt="Sylvan Cellars Events & Tasting Aerial Image" noloading="">
<div placeholder="" class="commerce-loader"></div>      </amp-img>
      <amp-img class="commerce-hero-image" src="/home-contact-wide.jpg" width="3417" height="1418" layout="responsive" media="(min-width: 52.07rem)" alt="Sylvan Cellars Events & Tasting Aerial Image" noloading="">
<div placeholder="" class="commerce-loader"></div>      </amp-img>
  <div class="commerce-hero-content commerce-hero-content-theme-primary flex justify-center flex-column md-mx-auto md-p0">
    <div class="commerce-hero-align md-mx-auto">
      <h2 class="commerce-hero-content-title h4 md-h1 caps md-mb2 md-pl4">{{ .Params.title4 }}</h2>
      <p class="commerce-hero-content-body">{{ .Params.subTitle4 }}</p>
        <div class="ampstart-btn ampstart-btn-secondary caps md-ml4">{{ .Params.btnTxt4 }}</div>
    </div>
  </div>
  </a>


</section>
  </main>

{{ end }}